.shop-content-wrapper {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.shop-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.shop-title-divider {
    width: 3rem;
    border-radius: 2px;
    border: 2px solid lightgrey;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
}

.shop-spend-wrapper {
    flex-grow: 2;
    flex-basis: 0;
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    overflow-x: auto;
}

.shop-spend-wrapper > * {
    margin-left: 1rem;
}

.shop-spend-wrapper > *:first-child {
    margin-left: 0rem;
}

.shop-earn-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    display: flex;
}

.shop-earn-wrapper > * {
    margin-left: 1rem;
}

.shop-earn-wrapper > *:first-child {
    margin-left: 0rem;
}

.shop-earn-selector-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-around;
    cursor: pointer;
}

.shop-earn-selector-hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.shop-earn-selector-hvr-grow:hover, .shop-earn-selector-hvr-grow:focus, .shop-earn-selector-hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
  

.shop-earn-selector-task-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.shop-earn-selector-task-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 1rem 0 1rem;
}

.shop-earn-selector-easy {
    background-color: rgb(191, 251, 191);
    color: green;
    border: 1px solid green;
}

.shop-earn-selector-medium {
    background-color: lightyellow;
    color: rgb(208, 135, 0);
    border: 1px solid rgb(208, 135, 0);
}

.shop-earn-selector-hard {
    background-color: rgb(252, 214, 214);
    color: red;
    border: 1px solid red;
}

.shop-taskbounty-wrapper {
    display: flex;
    align-items: center;
}

.shop-taskbounty-coin-icon {
    height: 1.3rem;
    margin: 0.05rem 0.1rem 0 0.3rem;
}

.shop-spend-comingsoon-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #EEEEEE;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: grey;
}

.shop-selectingtranscript-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.shop-selectingtranscript-wrapper {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.shop-selectingtranscript-layer-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.shop-selectingtranscript-transcript-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    background-color:#6287F6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.shop-selectingtranscript-layer-wrapper > *:first-child {
    margin-right: 1rem;
}

.shop-selectingtranscript-cancel-btn {
    background-color: #6287F6;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.shop-selectingtranscript-transcript-body-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    margin: 0.3rem;
    margin-bottom: 0;
    display: flex;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.shop-selectingtranscript-transcript-body {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    text-align: left;
    padding: 0.5rem;
}

.shop-selectingtranscript-transcript-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.35rem 0.75rem 0.35rem 0.75rem;
    color: white;
}

.shop-selectingtranscript-coin-icon {
    height: 1rem;
    margin: 0.05rem 0.2rem 0 0.4rem;
}

.shop-selectingtranscript-record-btn {
    cursor: pointer;
}

.shop-selectingtranscript-footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shop-selectingtranscript-placeholder {
    margin-right: auto;
    width: 2.5rem;
}

.shop-selectingtranscript-reroll-btn {
    margin-left: auto;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #6287F6;
    border-radius: 50%;
    margin-top: 1rem;
    cursor: pointer;
}

.shop-selectingtranscript-reroll-btn-hvr-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.shop-selectingtranscript-reroll-btn-hvr-rotate:hover, .shop-selectingtranscript-reroll-btn-hvr-rotate:focus, .shop-selectingtranscript-reroll-btn-hvr-rotate:active {
    -webkit-transform: rotate(181deg);
    transform: rotate(180deg);
}

.shop-selectingtranscript-loading-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
}

.shop-sentences-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
}

.shop-sentence-wrapper {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background-color: #6287F6;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.shop-sentence-transcript-wrapper {
    background-color: white;
    border-radius: 0.6rem;
    padding: 0.5rem;
}

.shop-sentences-btn-wrapper {
    display: flex;
}

.shop-sentences-submit {
    background-color: #6287F6;
    color: white;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    width: 5rem;
    font-weight: 800;
    cursor: pointer;
}

.shop-sentences-cancel {
    background-color: #6287F6;
    color: white;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    width: 5rem;
    font-weight: 800;
    margin-left: 1rem;
    cursor: pointer;
}